@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// .mat-mdc-snack-bar-container .mdc-snackbar__surface {
// 	background: green !important;
// }

$color_1: white;
$background-color_1: green;
$background-color_2: red;

.green-snackbar {
	background: green !important;
	color: $color_1;
}
.green-snackbar {
	button {
		background-color: $background-color_1;
		color: $color_1 !important;
		border: none;
	}
}
.red-snackbar {
	background: red;
	color: $color_1;
	button {
		background-color: $background-color_2;
		color: $color_1 !important;
		border: none;
	}
}