@tailwind base;
@tailwind components;
@tailwind utilities;

app-card {
  .bg-light-red {
    background-color: rgba(250, 0, 0, 0.1);
  }
  .bg-light-green {
    background-color: rgba(0, 250, 0, 0.1);
  }
  .bg-light-yellow {
    background-color: rgba(230, 234, 12, 0.301);
  }
}
