# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular

TODO.md
.nx/cache
.nx/workspace-data/cypress-11770279472964986606.hash
.nx/workspace-data/eslint-4393011795395336301.hash
.nx/workspace-data/file-map.json
.nx/workspace-data/lockfile.hash
.nx/workspace-data/parsed-lock-file.json
.nx/workspace-data/project-graph.json
.nx/workspace-data/d/daemon.log
.nx/workspace-data/d/server-process.json
