<form
  [formGroup]="feedbackForm"
  class="feedback-form"
  (ngSubmit)="submitForm()">
  <legend class="feedback-form-title">Tell us what you think</legend>
  <input
    class="feedback-form-control"
    [formControl]="feedbackForm.controls.name"
    placeholder="Name"
    type="text" />
  <input
    class="feedback-form-control"
    [formControl]="feedbackForm.controls.email"
    placeholder="Email"
    type="email" />
  <app-rating-control [formControl]="feedbackForm.controls.rating"></app-rating-control>
  <textarea
    class="feedback-form-control"
    [formControl]="feedbackForm.controls.comment"
    placeholder="Сomment text"></textarea>
  <button
    class="feedback-form-submit"
    type="submit"
    [disabled]="feedbackForm.invalid"
  >
    Submit
  </button>
</form>
