@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 20px;
}

.bg-light-red {
  background-color: rgba(250, 0, 0, 0.1);
}

.bg-light-green {
  background-color: rgba(0, 250, 0, 0.1);
}

.bg-light-blue {
  background-color: rgba(17, 0, 250, 0.1);
}
