.main-container {
  width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  .add-button {
    position: absolute;
    top: -30px;
    right: 18px;
    background-color: #0A2240;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.todo-list {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loading-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: #0A2240;
}

.error-card {
  background-color: #ffe5e5;
  color: #d32f2f;
}

.empty-state {
  text-align: center;
  color: gray;
}

mat-paginator {
  margin-top: 1rem;
}
