<form #form="ngForm" (ngSubmit)="submitForm(form.value)">
  <fieldset ngModelGroup="feedback-form" class="feedback-form">
    <legend class="feedback-form-title">Tell us what you think</legend>
    <input
      class="feedback-form-control"
      ngModel
      name="name"
      required
      placeholder="Name"
      type="text" />
    <input
      class="feedback-form-control"
      ngModel
      name="email"
      placeholder="Email"
      required
      type="email" />
    <app-rating-control></app-rating-control>
    <textarea
      class="feedback-form-control"
      ngModel
      name="comment"
      placeholder="Сomment text"></textarea>
    <button
      class="feedback-form-submit"
      type="submit"
      [disabled]="!form.touched || form.invalid">
      Submit
    </button>
  </fieldset>
</form>
