<div class="border-2 border-black rounded-md p-4 w-fit flex flex-col gap-3" [class]="customClass">
  <ng-content select="[headerImg]"></ng-content>
  <section>
    <ng-container *ngFor="let item of list">
      <ng-container *ngTemplateOutlet="
          specialTemplate ||  defaultListItemTemplate;
          context: { $implicit: item }
        "></ng-container>
    </ng-container>
  </section>

  <ng-template #defaultListItemTemplate let-item>
    <app-list-item>
      <div class="border border-grey-300 py-1 px-2 flex justify-between">
        {{ item.firstname }}
        <button (click)="deleteItem(item.id)">
          <img class="h-5" src="assets/svg/trash.svg" />
        </button>
      </div>
    </app-list-item>
  </ng-template>
  <ng-content select="[addNewItem]"></ng-content>
</div>