@tailwind base;
@tailwind components;
@tailwind utilities;

/*
// useful to increase duration to actually see the animation
// the cross-fade default animation is subtle 

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 5s;
}
*/

@media (prefers-reduced-motion) {

    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}

@keyframes slide-from-right {
    0% {
        transform: translateX(-300px) translateY(25px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes slide-to-left {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(-300px) translateY(25px);
    }
}

@keyframes slide-to-left-2 {
    0% {
        transform: translateX(300px) translateY(25px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes slide-to-right {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(300px) translateY(25px);
    }
}

// Don't think only-child applies here, as the elements are not present in both views (old & new)  
// the same content but different elements 
// need two animations for the new page
// the old animation add when back-transition only?

/*
::view-transition-old(profil) {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-to-left;
}
*/

::view-transition-new(profil) {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-to-left-2, 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-from-right;
}

/*
::view-transition-old(angular) {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-to-right;
}
*/

::view-transition-new(angular) {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-to-left-2;
}

.back-transition::view-transition-old(profil):only-child {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-to-left;
}

.back-transition::view-transition-old(angular):only-child {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-to-right;
}

.back-transition::view-transition-new(angular1) {
    display: none;
}

.back-transition::view-transition-new(profil1) {
    display: none;
}