@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.main-header {
    view-transition-name: main-header;
    contain: layout;
}

.main-header-text {
    view-transition-name: main-header-text;
    contain: layout;
    width: fit-content;
}

@media (min-width: 530px) {
    .main-nav {
        view-transition-name: main-nav;
        contain: layout;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-right {
    to {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-new(main-nav):only-child {
    animation: 300ms cubic-bezier(0, 0, 0.2, 1) both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(main-nav):only-child {
    animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}
*/