@tailwind base;
@tailwind components;
@tailwind utilities;

/*
// useful to increase duration to actually see animation
// cross-fade default animation is subtle 

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 5s;
}
*/

@media (prefers-reduced-motion) {

    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}

/*
::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-new(main-nav):only-child {
    animation: 300ms cubic-bezier(0, 0, 0.2, 1) both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(main-nav):only-child {
    animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}
*/

@keyframes slide-from-right {
    0% {
        transform: translateX(-300px) translateY(25px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes slide-to-left {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(-300px) translateY(25px);
    }
}

@keyframes slide-to-left-2 {
    0% {
        transform: translateX(300px) translateY(25px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes slide-to-right {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(300px) translateY(25px);
    }
}

::view-transition-old(profil):only-child {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-to-left;
}

::view-transition-new(profil):only-child {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-from-right;
}

::view-transition-old(angular):only-child {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-to-right;
}

::view-transition-new(angular):only-child {
    animation: 1500ms cubic-bezier(0.4, 0, 0.2, 1) slide-to-left-2;
}